# Virtual environments
.venv/
venv/
env/

# Byte-code files
*.pyc
__pycache__/

# Editor/IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

#MNIST data
mnist.npz